extends layout

block content
    .login-box
        .header
            h2 Log In
        form(action="/auth_login", method="post")
            .form-group
                label(for="email") Email
                input(type="email" name="email" class="form-control shadow-none")
            .form-group
                label(for="password") Password
                input(type="password" name="password" class="form-control")
            button(type="submit" class="btn btn-primary") Login
            a(href='/registration')
                button(type="button" class="btn btn-primary") Registration

    script.
        // JavaScript code to handle redirection upon successful login
        const loginForm = document.querySelector('form');
        document.cookie = `jwt=${token}; path=/;`;
        loginForm.addEventListener('submit', async (event) => {
            event.preventDefault();
            
            const formData = new FormData(loginForm);
            const response = await fetch('/auth_login', {
                method: 'POST',
                body: formData,
            });

            if (response.ok) {
                // Redirect to the admin page if login is successful
                window.location.href = '/admin';
            } else {
                // Handle login failure here (e.g., display an error message)
            }
        });
    link(rel='stylesheet', href='/stylesheets/login.css')